// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$red: #EA5254;
$purple: #323394;
$grey: #607196;
$yellow_graph: #FADBA6;
$green: #58B79F;
$yellow_input: #FBD659;
