.info-classement p {
  margin-bottom: 0px;
  font-family: $general-font;
  font-size: 24px;
  font-weight:bold;
  color: $red;
}

.classement-user p {
  margin-bottom: 0px;
  font-family: $general-font;
  font-size: 24px;
  color: $purple;
}
