.titleteam {
  font-family: $title-font;
  text-align: center;
  color: $purple;
  font-size: 28px;
}

.formteam {
  font-family: $general-font;
  color: $purple;
  font-size: 18px;
}

.inputteam {
    font-family: $general-font;
    $font-size: 18px;
}
