//* CSS du bouton a switcher

.buttonchore {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $purple ;
  border-radius: 8px 8px 8px 8px;
}

.choreme {
  background-color: $yellow-input ;
  border-radius: 5px 5px 5px 5px;
  margin: 10px;
  padding:15px;
  font-family: $general-font;
  font-size: 20px;
  width: 170px;
  text-align: center;
}

.choreall {
  background-color: $yellow-input ;
  border-radius: 5px 5px 5px 5px;
  margin: 5px;
  padding: 15px;
  font-family: $general-font;
  font-size: 20px;
  width: 170px;
  text-align: center;
}

//* CSS des cards

.card-chores {
  background: white;
  box-shadow: 0 0 5px $grey-light;
  border-radius: 8px;
  margin: 20px 0px 20px 0px;
  height: auto;
  width: auto;
}

.top-chores {
  background: $yellow-input;
  border-radius: 8px 0px 8px 0px;
  padding: 5px 10px 5px 10px;
  font-size: 18px;
  width: 30%;
  font-family: $general-font;
}

.chore{
  display:flex;
  align-items: center;
  padding: 10px;

  p {
    margin-bottom: 0;
  }
}

.chore:last-child {
  border-radius: 0 0 5px 5px;
}

.chorerespo {
  font-family: $regular-font;
  font-size: 17px;
  width:32%;
  padding-right: 10px;
}

.chorename {
  font-family: $general-font;
  font-size: 20px;
  padding-right: 10px;
  width: 50%;
}
.boxes{
  display: flex;
  width: 18%;
}

.greenbox {
  color: green;
  font-size: 30px;
  padding-right: 5px;
}

.redbox {
  color: red;
  font-size: 30px;
}

// si selection
.selected {
  background-color: $grey-light;
}
