h3 {
  font-family: $general-font;
  color: $red;
}

.scene {

  border: none;
  box-shadow: 5px 5px 10px #CCCC;
  margin: 40px 0;
  perspective: 600px;
   &:hover {
    box-shadow: 5px 5px 10px #CCC;
   }
}

.card_task {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card_task.flipped {
  transform: rotateY(180deg);
  label {
    height:14px;
    font-size:14px;
    font-weight:bold;
    color: #333E73;
    padding-left:4px;
    margin-bottom: 0px;
  }
}

.card__face {

  padding-left:10px;
  width: 100%;
  height: 100%;
  line-height: 260px;
  // color: white;
  text-align: center;
  // font-weight: lighter;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
   span {
    height:25px;
    display:flex;
    justify-content: flex-start;
    align-items:center;
   }
}

.card__face--front {
  background-size: cover;
}

.card__face--front  img {

    height:300px;
    padding: 40px;
  }

.card__face--back {
  transform: rotateY(180deg);
  color: black;
  font-size: 10px;
  line-height: 10px;
  display: grid;
  height: 0%;
  text-align: inherit;
  bottom: 180px;
  position: absolute;
}

// -- media queries -- //




