h3 {
  font-family: $general-font;
  color: $red;
}

.scene {
  width: 200px;
  height: 260px;
  border: none;
  box-shadow: 5px 5px 10px #CCCC;
  margin: 40px 0;
  perspective: 600px;
   &:hover {
    box-shadow: 5px 5px 10px #CCC;
   }
}

.card_task {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card_task.flipped {
  transform: rotateY(180deg);
  label {
    overflow:scroll;
    font-size:15px;
    font-weight:bold;
    color: #333E73;
    padding-left:4px;
  }
}

.card__face {
  position: absolute;
  padding-left:10px;
  width: 100%;
  height: 100%;
  line-height: 260px;
  // color: white;
  text-align: center;
  // font-weight: lighter;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background-size: cover;
}

.card__face--front  img {
    width: 140px;
  }

.card__face--back {
  transform: rotateY(180deg);
  color: black;
  font-size: 10px;
  line-height: 10px;
  display: grid;
  height: 0%;
  text-align: inherit;
  bottom: 180px;
}

// -- media queries -- //

  @media(min-width:500px) {
  .form-inputs {
    display:grid;
    grid-template-columns: 3fr 3fr;
  }
  .row {
    margin: 0px;
    padding:5px;
  }
}


