// Specific CSS for your home-page
.main-btn {
margin-top: 20px;
}

.container-bottom-hero {
  position:absolute;
  margin:0%;
  padding: 0%;
  height:50%;
  width: 100%;
  background-color: #888888;
}

.text-hero-banner {
    display:flex;
    justify-content: end;
  p {
    font-size:17px;
    font-family: $general-font;
    text-align:justify;
    max-width:20em;
    margin: 30px 10px;
  }
}


.slogan {
  text-align: center;
  font-size: 25px;
  p {
    font-family: $title-font;
    margin-bottom: 0px;
    margin-top:10px;
    color: $purple;
  }

  // justify-content: space-between;
}



@media(min-width: 800px) {
  .text-hero-banner p {
    font-size: 28px;
  }
}
