<div class="container new_team_task">
  <h1>Les tâches à partager avec tes colocs</h1>
  <div class="row 3">
    <div class="cl">
      <div class="form-post task_check">
          <%= render 'form', team_task: @team_task %>
      </div>
    </div>
  </div>
</div>
