
<div class="container new_team_task">
  <h1 class = "title pt-5">Les tâches à partager avec tes colocs</h1>

    <div class="cl">
      <div class="form-post task_check">
          <%= render 'form', team_task: @team_task %>
      </div>
    </div>

</div>
