<div class="container new_team_task">

  <h1 class = "title pt-5"> Fais ton choix! </h1>
  <p class= "inputteam blue text-center"> Quelles tâches veux-tu partager avec tes colocs ?
    <br>Cooloc les répartira de manière équitable en prenant en compte le niveau de difficulté de chaque tâche.</p>
    <div class="cl">
      <div class="form-post task_check">
          <%= render 'form', team_task: @team_task %>
      </div>
    </div>

</div>
