<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <h1>Les tâches à partager avec tes colocs</h1>
        <%= render 'form', team: @team %>
      </div>
    </div>
  </div>
</div>
