<div class="container new_team_task">

  <h1 class = "title pt-5"> Choisit les tâches à effectuer dans ta Cooloc </h1>
    <div class="cl">
      <div class="form-post task_check">
          <%= render 'form', team_task: @team_task %>
      </div>
    </div>

</div>
