.card-reverse {
  transform: scale(1.2);
  height:400px;
  &:active {
    height:500px;
  }
}

.classement-card {
  weight: 80px;
  height: 60px;
  border-radius: 10px;
  border-color: $grey-light !important;

}

.card-main-classement {
  box-shadow: 0 0 10px $grey-light;
}
