.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
}

.casper {
  width: 50px;
}

.navbar-homepage {
  opacity:1;
  display: flex;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.navbar-brand {
  padding: 0;
}

.nav-item a {
  font-family: $general-font;
}

.nav-item p {
  font-family: $general-font;
}

.nav-size {
  width: 100%;
}
