.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.nav-link a {
  font-size:10px;
  font-family: $general-font;
  color: $red;
}

.navbar-brand {
  padding: 0;
}

