
// Image de la lampe en haut de la Homepage //

.img-lamp-top {
  height: 120px;
  position: absolute;
  top:0px;
  right: 20%;
}

// Image de l'étagère de livres en haut de la homepage //

.img-book-top {
  height: 80px;
  position:absolute;
  top:8%;
  left: 15%;
}

// Imag du panda en bas de la homepage //

.img-panda-bottom-hero {
  height: 120px;
}





// Image de la Hero Banner //

// .img-banner-hero {
//   height: 150px;
//   width: 250px;
//   position: absolute;
//   top:90%;
//   left:50%;
//   transform: translate(-50%, -50%);
// }
