
// Image de la lampe en haut de la Homepage //

.img-lamp-top {
  height: 120px;
  position: absolute;
  top:0px;
  right: 20%;
}

// Image de l'étagère de livres en haut de la homepage //

.img-book-top {
  height: 80px;
  position:absolute;
  top:8%;
  left: 15%;
}
