<div class='chores'>
  <h1 class = "title pt-4"> A venir : La cooloc vous régale ! </h1>
  <div class = "demo">
    <%= image_tag "panda.png" %>
  </div>
  <div>
    <% @team_tasks.each do |t| %>
      <%= t %>
    <% end %>
  </div>
</div>

