<div class='bannerchore'>

  <div class='c-banner'>
    <button>Mes tâches</button>
  </div>

  <div>
    <button>Les tâches de gynecoloc</button>
  </div>

</div> 


<div class="card-chores">
    <h2 class="top-chores">Semaine</h2>
    <div class="chore">
      <p class="chorename">Chore to do</p>
      <p class="chorerespo">Nom du coloc</p>
    </div>
</div>
