
<div class='banner'>

  <div class='c-banner'>
    <button>Mes tâches</button>
  </div>

  <div>
    <button>Les tâches de gynecoloc</button>
  </div>
</div>

<div class='card-c'>

  <div class='top'>
    <p>Semaine 1</p>
  </div>

  <div class='task'>

    <div class='line'>

      <div>
        <p>Aspirateur</p>
        <p>Isabelle</p>
      </div>

    </div>

    <div class='check'>
        <%= image_tag 'cross.svg', width:'60px', height:'25Opx' %>
        <%= image_tag 'tick.svg', width:'70px', height:'35Opx' %>
    </div>

  </div>

  <div class='task'>

    <div class='line'>

      <div>
        <p>Aspirateur</p>
        <p>Isabelle</p>
      </div>

    </div>

    <div class='check'>
        <%= image_tag 'cross.svg', width:'60px', height:'25Opx' %>
        <%= image_tag 'tick.svg', width:'70px', height:'35Opx' %>
    </div>

  </div>

</div>





